body{
    -webkit-app-region: drag;
    background: rgba(0, 0, 0, 0);
}
#top{
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  top: 0px;
  left: 0px;
  position: absolute;
}
#left{
  background-color: #ffffff;
  width:250px;
  height: 100%;
  left: 0px;
  position: absolute;
}
#right{
  background-color: #ffffff;
  width:250px;
  height: 100%;
  right: 0px;
  position: absolute;
}
#bottom{
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  bottom: 0px;
  left: 0px;
  position: absolute;
}
.button{
  background: #ff00ff;
  width: 100px;
  height: 60px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
}
#corner{
  width: 10px;
  height: 10px;
  left: 250px;
  bottom: 0px;
  margin: 0;
  background-color: aqua;
  position: absolute;
}