body{
    -webkit-app-region: drag;
    background: #ffffff;
}
.button{
  background: #ff00ff;
  width: 100px;
  height: 60px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
}
#messageArea{
  background-color: #000000;
  color: #ff0000;
  width: 200px;
  height: 400px;
  position: absolute;
  margin: 45px 0 0 45px;
}