body{
    -webkit-app-region: drag;
    background: #ffffff;
}
.button{
  background: #ff00ff;
  width: 100px;
  height: 60px;
  top: 50px;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
}

.set_window_name{
  right: 0;
  left: 0;
  margin: auto;
  position: absolute
}

#messageArea{
  background-color: #000000;
  width: 300px;
  height: 150px;
  position: absolute;
  top: 140px;
  right: 0;
  left: 0;
  margin: auto;
}

.message{
  color: #ff0000;
  width: 300px;
  height: 150px;
  overflow:scroll;
}